/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/


/*--- main body styles ---*/

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 40px;
}

.major-section {
  border: 1px solid grey;
  margin: 10px;
  padding: 5px 15px 10px 15px;
}

form {
  margin: 10px 10px 5px 10px;
}

.questions-container {
  margin: 10px;
}

header h3 {
  text-align: center;
}


/*--- override base styles for screens >700px --*/

@media (min-width: 700px) {
  body {
    width: 90%;
    margin: 0 auto;
  }

  .major-section {
    border: 1px solid grey;
    margin: 20px;
    padding: 10px 30px 20px 30px;
  }
  
  form {
    margin: 20px 20px 5px 20px;
  }
  
  .questions-container {
    margin: 20px;
  }
}

