/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/


/*--- main body styles ---*/

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 40px;
}

.major-section {
  border: 2px solid grey;
  margin: 20px;
  padding: 10px 30px 20px 30px;
}

form {
  margin: 20px 20px 5px 20px;
}

.questions-container {
  margin: 20px;
}

.question-list {
  list-style: none;
  padding-left: 0;
}

.question-list > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
}



/* Groups & Items */
/* Note: I have, for now, intentionally chosen to not alter the arrangement of the page
   for desktop screens, because as structured, I can't think of a change in the layout 
   between mobile/desktop that I really like. If this is a necessary component for the
   assignment, I will come up with something to implement in the revision. */ 

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  flex: 1;
  /*margin: 10px;*/
}

/* If I *were* to change the layout 